@charset "utf-8";

html {
    
}

body {
    background: #fff;
}

.btn-danger {
    background-color: #B95656;
}

.btn-primary {
    background-color: #4B71CA;
}

.material-symbols-outlined {
    color: white;
    display: block;
    height: inherit;
}

.search-user-btn {
    border: none;
    background: #3C4767;
    border-radius: 5px;
}
/* header */
header {
    background: #3C4767;
    z-index: 10;
    max-height: 100px;
    height: 10vh;
}

#head {
    margin: 0 5vw;
}

#head-left h1 {
    margin: 0;
}

#head-right-box1 p {
    margin: 0;
}

textarea {
    resize: none;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
    min-height: 100vw;
}

#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #6C6C6C;
}

#confirm {
}

#head {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#head-right-box1 {
    color: #fff;
}

#head-right {
    display: flex;
    align-items: center;
}

#accordion-content {
    display: none;
    position: absolute;
    bottom: -189px;
    right: -64px;
    width: 251px;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}

#accordion-content.active{
    display: block;
    transition: 0.5s ease-in-out;
} 

#accordion-content ul {
    text-align: center;
}

#accordion-content ul li {
    border: solid 1px #333333;
}

#accordion-content ul li+li {
    border-top: none;
}

#accordion-content ul li a {
    padding: 18px 0;
    color: #333333;
    display: block;
}

#accordion-content ul li a:hover {
    color: #fff;
    background-color: tomato;
}

#head-right-box2 {
    margin-right: 20px;
    margin-left: 20px;
}

/* sidebar */ 
.search-btn {
    border-top: 1px solid silver;
    padding-top: 30px;
}

.menu-trigger {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-10%) rotate(135deg);
}

.menu-trigger.active {
    transform: translateY(25%) rotate(-45deg);
} 

.btn {
    display: inline-block;
	padding: 6px 10px;
	color: #FFF;
	text-decoration: none;
	border: none;
    border-radius: 8%;
	cursor: pointer;
	transition-duration:0.3s;
    text-align: center;
    width: 115px;
}

.btn-darkblue {
    background-color: #3C4767;
}


.btn a {
    color: #FFF;
    font-size: 12px;
}

.confirm-box {
    margin-left: 1vw;
    margin-right: 3vw;
}

.confirm-box-btn {
    margin-bottom: 35px;
}

.confirm-box-text {
    display: flex;
    justify-content: space-between;
}

.round {
    border-radius: 100px;
    max-width: 50px;
    max-height: 50px;
    background-color: aliceblue;
}

.post-area-form {
    display: flex;
}

.post-area-form-postbtn {
    align-items: center;
}


/* モーダル */
.modal-main {
  display: none;
}

.modal-inner {
    width: 100%;
  height: 100%;
  background-color: rgba( 51, 51, 51, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.modal-inner img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inner-content {
    padding: 3vw 1vw 1vw;
  margin-bottom: 1vw;
  position: fixed;
  top: 10vw;
  left: 24vw;
  width: 50%;
  height: 20%;
  background-color: white;
  z-index: 5;
}

.form-control {
      color: gray;
  width: 90%;
  height: 7vw;
  border: 2px solid gray;
  margin-left: 2vw;
}

.inner-title {
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 2.8rem;
  font-weight: bold;
}

.contents-validator{
  color: tomato;
  float: left;
  margin: 1vw 0 0 2vw;
}

.inner-text {
  font-size: 1.6rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 28px;
}

.edit-btn {
    background: #FFF;
    border: none;
    margin:0.5vw 0 0 6vw;
}

.modalClose {
  cursor: pointer;
}

/* posts.index */
#post-area {
    border-bottom: 3px solid silver;
}

.post-area-form {
    margin-left: 3vw;
}

.post-area-form-textarea textarea {
    border: none;
    background-color: #fff;
    width: 50vw;
    height: 7.5vw;
}

.post-area-form-textarea textarea::placeholder {
  color: silver;
}

.post-area-form-icon {
    margin: auto 0;
}

.post-area-form-postbtn {
    margin-top: auto;
}

.tweets {
    border-bottom: 1px solid silver;
    margin: 20px auto;
}

.tweets-box {
    margin-left: 5vw;
    margin-right: 3vw;
}

.tweet-title {
    display: flex;
    align-items: baseline;
}

.tweet-user-name {
    margin-left: 1vw;
}

.tweet-created-time {
    margin-left: auto;
}

.tweet-timeline {
    margin-left: 5vw;
}

.tweet-menu {
    text-align: right;
    margin-right: 3vw;
    display: flex;
}

.trash-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/trash.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}


.trash-btn:hover{
    background-image: url(../images/trash_h.png);
}

.edit-btn {
    margin-left: auto;
}

.modal-edit-btn {
    text-align: right;
    margin-right: 3vw;
}

/* followerList */
.follow-lists {
    padding: 3vw;
    border-bottom: 3px solid silver;
}

.follow-lists p {
    font-size: xx-large;
}


.follow-images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
}

.follow-image {
    padding: 1vw;
}

/* search */
.search-box {
    padding: 2vw 5vw;
    margin-bottom: 2vw;
    border-bottom: 3px solid silver;
    display: flex;
}

.search-forms {
    display: flex;
    max-height: 50px;
}

.search-form {
    width: 25vw;
    margin-right: 2vw;
}

.search-form-result {
    margin-left: auto;
}

.user-list {
    margin:0 5vw 2vw;
    display: flex;
}

.user-list-content {
    display: flex;
    align-items: center;
}

.user-list-content p{
    font-size: large;
    margin-left: 2vw;
}

.user-list-follow-btn {
    margin-left: auto;
}

/* profile */
.profile {
    display: flex;
    border-bottom: 3px solid silver;
    padding: 0 7vw;
    margin: 3vw 0;
}

.profile-box {
    margin-left: 2vw;
}

.profile-content {
    display: flex;
    height: 5vw;
    margin-top: 1vw;
}

.profile-title {
    width: 5vw;
}

.profile-btn {
    margin-top: auto;
    margin-bottom: 3vw;
}

.profile-form {
    display: flex;
    margin: 2vw 7vw;
}

.form-group li{
    display: flex;
    margin-bottom: 2vw;
    margin-top: 1.5vw;
    margin: 1.5vw 2vw 3vw;
}

.profile-form label {
    width: 10vw;
    margin-right: 5vw;
}

.profile-form input,textarea {
    border: none;
    border-bottom: 1px solid #000;
    background-color: whitesmoke;
    margin: 0;
    width: 20vw;
    position: relative;
}

.profile-form-bio {
    margin: 0;
}

.profile-form:disabled {
    background: white;
}

.bio-form {
    height: 5vw;
}

.image-form{
    display: none;
    height: 9vw;
    margin-right: 0;
}

input[type="file"] {
    width: 25vw;
}


 input[type="file"]::-webkit-file-upload-button {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-color: white;
    color: silver;
    border: 0;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
  }

  .change-btn {
    display: block;
    margin-left: 30vw;
  }





