@charset "utf-8";

html {}

body {
    background: #fff;
}

/* header */
header {
    background: #3C4767;
    z-index: 10;
    max-height: 100px;
    height: 10vh;
}

#head {
    max-width: 1200px;
    margin: 0 5vw;
}

#head-left h1 {
    margin: 0;
}

#head-right-box1 p {
    margin: 0;
}

textarea {
    resize: none;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #6C6C6C;
}

#confirm {
}

#head {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#head-right-box1 {
    color: #fff;
}

#head-right {
    display: flex;
    align-items: center;
}

#accordion-content {
    display: none;
    position: absolute;
    bottom: -189px;
    right: -64px;
    width: 251px;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}

#accordion-content.active{
    display: block;
    transition: 0.5s ease-in-out;
} 

#accordion-content ul {
    text-align: center;
}

#accordion-content ul li {
    border: solid 1px #333333;
}

#accordion-content ul li+li {
    border-top: none;
}

#accordion-content ul li a {
    padding: 18px 0;
    color: #333333;
    display: block;
}

#accordion-content ul li a:hover {
    color: #fff;
    background-color: tomato;
}

#head-right-box2 {
    margin-right: 20px;
    margin-left: 20px;
}

/* sidebar */ 
.search-btn {
    border-top: 1px solid silver;
    padding-top: 30px;
}

.menu-trigger {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-10%) rotate(135deg);
}

.menu-trigger.active {
    transform: translateY(25%) rotate(-45deg);
} 

.btn {
    display: inline-block;
	padding: 6px 10px;
	color: #FFF;
	text-decoration: none;
	background-color: #3C4767;
	border: none;
    border-radius: 8%;
	cursor: pointer;
	transition-duration:0.3s;
    margin-bottom: 35px;
    text-align: center;
    width: 115px;

}

.btn a {
    color: #FFF;
    font-size: 12px;
}

.confirm-box {
    margin-left: 1vw;
    margin-right: 3vw;
}

.confirm-box-text {
    display: flex;
    justify-content: space-between;
}

.round {
    border-radius: 100px;
    max-width: 50px;
    max-height: 50px;
}

.post-area-form {
    display: flex;
}

.post-area-form-postbtn {
    align-items: center;
}


/* モーダル */
.modal-main {
  display: none;
}

.modal-inner {
    width: 100%;
  height: 100%;
  background-color: rgba( 51, 51, 51, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.modal-inner img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inner-content {
    padding: 3vw 1vw 1vw;
  margin-bottom: 1vw;
  position: fixed;
  top: 10vw;
  left: 24vw;
  width: 50%;
  height: 20%;
  background-color: white;
  z-index: 5;
}

.form-control {
      color: gray;
  width: 90%;
  height: 7vw;
  border: 2px solid gray;
  margin-left: 2vw;
}

.inner-title {
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 2.8rem;
  font-weight: bold;
}

.contents-validator{
  color: tomato;
  float: left;
  margin: 1vw 0 0 2vw;
}

.inner-text {
  font-size: 1.6rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 28px;
}

.edit-btn {
    background: #FFF;
    border: none;
    margin:0.5vw 0 0 6vw;
}

.modalClose {
  cursor: pointer;
}

/* posts.index */
#post-area {
    border-bottom: 3px solid silver;
}

.post-area-form {
    margin-left: 3vw;
}

.tweets {
    border-bottom: 1px solid silver;
    margin: 20px auto;
}

.tweets-box {
    margin-left: 5vw;
    margin-right: 3vw;
}

.tweet-title {
    display: flex;
    align-items: baseline;
}

.tweet-user-name {
    margin-left: 1vw;
}

.tweet-created-time {
    margin-left: auto;
}

.tweet-timeline {
    margin-left: 5vw;
}

.tweet-menu {
    text-align: right;
    margin-right: 3vw;
}


.trash:hover{
    background-image: url("../images/trash_h.png");
}

.edit-btn {
    margin-left: auto;
}

.modal-edit-btn {
    text-align: right;
    margin-right: 3vw;
}